<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>书名</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(k,book) in books">
                    <td>{{book.name}}</td>
                    <td>{{book.price}}</td>
                    <td><input type="text" v-model="book.count"></td>
                    <td>{{book.price * book.count}}</td>
                    <td><button class="btn btn-xs btn-danger" @click="myDelete(book)">删除</button></td>
                </tr>
                <tr>
                    <td colspan="5">合计：{{total}}</td>
                </tr>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="bookname" class="control-label">书名</label>
                    <input type="text" id="bookname" v-model="list.name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="bookname" class="control-label">价格</label>
                    <input type="text" id="bookprice" v-model="list.price" class="form-control">
                </div>
                <div class="form-group">
                    <label for="bookname" class="control-label">数量</label>
                    <input type="text" id="bookcount" v-model="list.count" class="form-control">
                </div>
                <button type="button" name="button" class="btn btn-xs" @click="add">添加</button>
            </div>
        </div>
    </div>
    <script src="../vue.js" charset="utf-8"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            books: [
                {name: 'reactjs',price:10,count:1},
                {name: 'angularjs',price:20,count:2},
                {name: 'vuejs',price:30,count:3},
            ],
            list: {
                name: '',
                price:'',
                count:''
            }
        },
        computed: {
            total: function(){
                var sum = 0;
                this.books.forEach(function(book){
                    sum += book.price * book.count;
                });
                return sum;
            }
        },
        methods: {
            myDelete: function(book){
                this.books.$remove(book);
            },
            add: function(){
                this.books.push(this.list);
                this.list = {
                    name: '',
                    price:'',
                    count:''
                }
            }
        }
    })
    </script>
</body>
</html>
